$govuk-assets-path: "/manage-your-tax-agents/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/manage-your-tax-agents/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import 'modules/_custom';

$govuk-global-styles: true;

a {
  @extend .govuk-link;
}

p {
  @extend .govuk-body;
}

h2 {
  @extend .govuk-heading-m;
}

h3 {
  @extend .govuk-heading-s;
}

ul.pager-items{
  list-style-type: none;
  float: right;
  overflow: hidden;
  margin-top: -10px;

  li{
    margin-left: 15px;
    float: left;
  }
}
