.badge{
 padding-top: 3px;
}
table.font-small td,
table.font-small th {
 font-size: .85em !important;
}

table caption.caption-medium{
 font-size: 24px;
 line-height: 1.25;
 font-weight: 800;
}

table p.p-medium{
    font-size: 19px;
}
.margin-top-30{
    margin-top: 60px !important;
}
.margin-top-0{
    margin-top: 0px !important;
}
.margin-bottom-30{
    margin-bottom: 50px !important;
}
.date-hint{
    display: block;
    font-size: 0.85em;
    color: #6f777b;
}
.respond_link{
    font-size: 1em; !important;
}
.welsh-toggle {
    padding-right: 15px;
    float: right;
    color: #626A6E;
    font-weight: bold;
    margin-bottom: 0;
    text-decoration: none;
}

#cymraeg-switch:hover, #english-switch:hover{
    color: white;
    text-decoration: underline;
}